<p><%= image_tag("shield.png") %></p>

<p>Congratulations, <%= @user.name %> you have been registered for stjude_recipes.org.</p>

<p>Feel free to add your own personal recipes to our database.  You are the only one who cant edit or delete your recipes. We hope you will visit our site often, and don't forget to tell your friends and family about our site.</p>

<p> Kathleen Walter, Pastor</br>
   St Jude and the Nativity Episcopal Church</br>
   Lafayette Hill, PA 	</p>