<p><%= image_tag("rails.png") %></p>

<p>Congratulations, <%= @user.name %> you have been registered for Recipes.com.</p>

<p>Feel free to add your own personal recipes to our database.  You are the only one who cant edit or delete your recipes. We hope you will visit our site often, and don't forget to tell your friends and family about our site.</p>

<p>Administrator</br>
   Recipes</br>
   Plymouth Meeting, PA</p>